/* UNIVERSAL SELECTOR */
/* these will act as global styles */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/* GENERAL BODY STYLES */
/* styles background color and font-size for body */
body {
    background-color: #d9dcd6;
    font-size: 16px; /* deleted p {} styling and moved font-size here */
}

/* HEADER STYLES START */
/* styles header container */
header { /* edit: changed ".header" (class) to "header" (html element) */
    padding: 20px;
    background-color: #2a607c;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', 'Arial', 'sans-serif'; /* edit: added quotes to Arial and sans-serif */
    color: #ffffff;
}

/* styles "Horiseon" in header */
header h1 { /* edit: changed ".header" (class) to "header" (html element) */
    display: inline-block; /* allows nav list to display side by side and respects the padding previously set in header {} */
    font-size: 48px;
}

/* styles "seo" in header */
header h1 .seo { /* edit: changed ".header" (class) to "header" (html element) */
    color: #d9dcd6;
}

/* styles list container */
header nav { /* edits: changed ".header" (class) to "header" (html element); "div" to "nav" */
    padding-top: 15px;
    margin-right: 20px;
    float: right;
}

/* removes item marker for navigation list */
header nav ul { /* edits: changed ".header" (class) to "header" (html element); "div" to "nav" */
    list-style-type: none;
}

/* styles display of list from vertical to horizontal */
header nav ul li { /* edits: changed ".header" (class) to "header" (html element); "div" to "nav" */
    display: inline-block;
    margin-left: 25px;
}

/* styles "Search Engine Optimization" "Online Reputation Management" "Social Media Marketing" in header */
header nav ul li a { /* edit: added header nav ul li in front of a */
    color: #ffffff;
    text-decoration: none;
    font-family: 'Gill Sans', 'Gill Sans MT', 'Calibri', 'Trebuchet MS', 'sans-serif'; /* edit: added quotes to Calibri and sans-serif; moved from head nav {} to header nav ul li a {} */
    font-size: 20px; /* edit: moved from head nav {} to header nav ul li a {} */
}
/* HEADER STYLES END */

/* HERO STYLES START */
/* styles background image in hero section */
.hero {
    height: 800px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url("../images/digital-marketing-meeting.jpg");
    background-size: cover;
    background-position: center;
}
/* HERO STYLES END */

/* CONTENT SECTION STYLES START */
/* edits: moved CONTENT SECTION STYLES before BENEFITS SECTION STYLES; deleted classes .search-engine-optimization, .online-reputation-management, .social-media-marketing, and used .content article {} to style the articles */
/* styles order of image and text for search engine optimization and social media marketing */
.float-left {
    float: left;
    margin-right: 25px;
}

/* styles order of image and text for "Online Reputation Management" */
.float-right {
    float: right;
    margin-left: 25px;
}

/* styles display of articles in content container and container */
.content {
    width: 75%;
    display: inline-block;
    margin-left: 20px;
}

/* styles the articles: search-engine-optimization, online-reputation-management, social-media-marketing and text */
.content article { /* edit: deleted classes .search-engine-optimization, .online-reputation-management, .social-medial-marketing, and changed to .content article {} to style articles */
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', 'Calibri', 'Trebuchet MS', 'sans-serif'; /* edit: added quotes to Calibri and sans-serif */
    background-color: #0072bb;
    color: #ffffff; 
}

/* styles images in articles */
.content img { /* edit: deleted classes and changed to .content img {} to style img */
    max-height: 200px;
}

/* styles "Search Engine Optimization" "Online Reputation Management" "Social Media Marketing" in articles */
.content h2 { /* edit: deleted classes and changed to .content h2 {} to style h2 */
    margin-bottom: 20px;
    font-size: 36px;
}
/* CONTENT SECTION STYLES END */

/* BENEFITS SECTION STYLES START */
/* styles display of divs in container and container */
.benefits {
    margin-right: 20px;
    padding: 20px;
    clear: both;
    float: right;
    width: 20%;
    height: 100%; /* edit: moved font-family from .benefits {} to .benefits div {} */
    background-color: #2589bd;
}

/* styles the divs: lead generation, brand awareness, and cost management and text */
.benefits div { /* edit: deleted classes .benefit-lead, .benefit-brand, .benefit-cost, and used .benefits div {} to style the divs */
    margin-bottom: 32px;
    font-family: 'Gill Sans', 'Gill Sans MT', 'Calibri', 'Trebuchet MS', 'sans-serif'; /* edits: added quotes to Calibri and sans-serif; moved from .benefits {} to .benefits div {} */
    color: #ffffff;
}

/* styles "Lead Generation" "Brand Awareness" "Cost Management" in divs */
.benefits div h3 { /* edit: deleted classes and changed to .benefits div h3 {} to style h3 */
    margin-bottom: 10px;
    text-align: center;
}

/* styles icons in divs */
.benefits div img { /* edit: deleted classes and changed to .benefits div img {} to style img */
    display: block;
    margin: 10px auto;
    max-width: 150px;
}
/* BENEFITS SECTION STYLES END */

/* FOOTER STYLES START */
/* styles footer container and text */
footer { /* edit: changed ".footer" (class) to "footer" (html element) */
    padding: 30px;
    clear: both;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', 'Arial', 'sans-serif'; /* edit: added quotes to Arial and sans-serif */
    text-align: center;
}

/* styles "Made with ❤️️ by Horiseon" in footer */
footer h2 { /* edit: changed ".footer" (class) to "footer" (html element) */
    font-size: 20px;
}
/* FOOTER STYLES END */